
@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Admin_Layout.cshtml";
}

<h2>Deneyim Ekle</h2>

<form method="post">
    <div class="form-row">
        <div class="control-group col-sm-6">
            <input type="text" class="form-control p-4" name="Başlık" placeholder="Firma"
                   required="required" data-validation-required-message="Lütfen Firma Adı Girin.." />
            <p class="help-block text-danger"></p>
        </div>
        <div class="control-group col-sm-6">
            <input type="text" class="form-control p-4" name="Altbaşlık" placeholder="Görev"
                   required="required" data-validation-required-message="Lütfen Görevinizi Girin" />
            <p class="help-block text-danger"></p>
        </div>
    </div>
    <div class="control-group">
        <input type="text" class="form-control p-4" name="Tarih" placeholder="Tarih"
               required="required" data-validation-required-message="Bir Açıklama Girin" />
        <p class="help-block text-danger"></p>
    </div>
    <div class="control-group">
        <textarea class="form-control py-3 px-4" rows="5"  name="Açıklama" placeholder="Açıklama"
                  required="required"
                  data-validation-required-message="Mesajınızı Girin"></textarea>
        <p class="help-block text-danger"></p>
    </div>
    <div>
        <button class="btn btn-outline-dark" type="submit" id="sendMessageButton">

            Ekle

        </button>
    </div>
</form>

